<% if user.errors.any? %>
    <div class="error-explanation">
      <div class="alert alert-danger">
        <%= t "static_pages.home.form_contain" %> <%= pluralize user.errors.count,
          t("static_pages.home.error") %>.
      </div>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
