# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 444d0610625fe5eaeb9a2923c1e53390c31e437f8026c71d94c1235054744cdb148f9d9f7753874ab1edf4bd3be98f369ed66160e97c61ced745849462ccc1ee

test:
  secret_key_base: 03516dfd76ba483c0589a5c92b100bf179594f680cb8d53db16b77a3e2b5bf85c5fa2a6441d924068bd603d73df930d603ee17cf0c4c9ac8f7539942e5b40037

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
