<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/"> <%= t "static_pages.home.title" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.home.about"), about_path %></li>
      <li><%= link_to t("static_pages.home.contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
