<footer class="footer">
  <small>
    <%= link_to t(".title"), "http://www.railstutorial.org/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
